<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
  </configSections>
  <connectionStrings>
    <add name="NServiceBus/Persistence" connectionString="Server=.\sqlserver2014;Database=TestDatabase;Integrated Security=True;" />
    <add name="Default" connectionString="Server=.\sqlserver2014;Database=TestDatabase;Integrated Security=True;" />
  </connectionStrings>
  <appSettings>
    <add key="NServiceBus/Persistence/NHibernate/dialect" value="NHibernate.Dialect.MsSql2012Dialect" />
    <add key="NServiceBus/Persistence/NHibernate/connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
    <add key="NServiceBus/Persistence/NHibernate/connection.driver_class" value="NHibernate.Driver.Sql2008ClientDriver" />
    <add key="NServiceBus/License" value="{LICENSE}" />
  </appSettings>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="Test.Host.Error" />
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="Saga.Host" Type="Saga.Host.Commands.StartTestSagaCommand" Endpoint="Saga.Host" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>